{{ partial "header.html" . }}
{{ partial "logo.html" . }}
<article class="article-support">

    <section style="margin-bottom: 0;" class="support-subscriptions">

        <h1>Chronograf</h1>

        <h3 style="text-align:center;">A new data visualization tool for InfluxDB.</h3>

        <img style="" src="/img/chronograf.png" />

        <p style="text-align:center;">Chronograf is a single binary web application for ad hoc exploration of your time series data in InfluxDB.</p>

        <p class="call-to-action"><a href="/download/index.html#chronograf">Download Chronograf 0.3.0 now!</a> </p>
    </section>

</article>

<article class="article-docs article-main-column chronograf" style="margin-left:8em;">
    {{ .Content }}
</article>

{{ partial "nav.html" . }}
{{ partial "footer.html" . }}
