{{ partial "header-acton.html" . }}
{{ partial "logo.html" . }}

<style type="text/css">
    label {
        font-weight: 700;
    }

    label.radioFieldLabel {
        font-weight: 400;
        display: block;
        width: 150px;
    }

    input[type=text], input[type=email] {
        margin-bottom: 1em;
    }


    input[type=radio] {
        float: left;
        display: block;
    }

    textarea {
        margin-bottom: 1em;
    }

    .contact-form select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #ccc;
        border-radius: 2px;
        font-size: 23px;
        margin-bottom: 1em;
        padding-left: 20px;
    }

    label.radioFieldLabel {
        height: 20px;
        line-height: 1;
        vertical-align: middle;
        margin-bottom: 1em;
        
    }

    label.radioFieldLabel input[type=radio] {
        float: left;
        width: 24px;
    }

    label.radioFieldLabel span {
        line-height: 1.25;
    }
</style>

<div class="page-content">
    <article class="article-docs article-main-column">
        <form id="form_0004" method="post" enctype="multipart/form-data" action="https://marketing.influxdb.com/acton/eform/16929/0004/d-ext-0001" accept-charset="UTF-8" class="contact-form">
        <input type="hidden" name="ao_a" value="16929"	>
        <input type="hidden" name="ao_f" value="0004"	>
        <input type="hidden" name="ao_d"	value="0004:d-0001"	>
        <input type="hidden" name="ao_p" id="ao_p" value="0"	>
        <input type="hidden" name="ao_jstzo"	id="ao_jstzo" value=""	>
        <input type="hidden" name="ao_cuid" value=""	>
        <input type="hidden" name="ao_srcid"	value=""	>
        <input type="hidden" name="ao_bot"	id="ao_bot"	value="yes"	>
        <input type="hidden" name="ao_camp"	value=""	>
        <p style="padding-left:0;">
        <b>Do you or your company have a cool project, app or product that uses InfluxDB in production?</b> We'd love to feature it on influxdb.com and give you a shout out on social media. As a "thank you" gift, we'll send you an InfluxDB hoodie and a pack of stickers. Just fill out the form below and we'll let you know when your entry is live and the hoodie is in the mail. Drop us a line at "contact at influxdb.com" if you have any questions. Thanks for the support!</p>
        <div style="width:49%; float:left;">
            <label for="form_0004_fld_1_fn">First Name</label>
            <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
            <input type="text" class="l6e formFieldText formFieldMediumLeft" id="form_0004_fld_1_fn" name="First Name" value="">
        </div>

        <div style="width:49%; float:right;">
            <label for="form_0004_fld_1_ln">Last Name</label>
            <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
            <input type="text" class="l6e formFieldText formFieldMediumRight" id="form_0004_fld_1_ln" name="Last Name" value="">
        </div>

        <label for="form_0004_fld_1_em">Email Address</label>
        <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
        <input type="Email" class="l6e formFieldText formFieldLarge" id="form_0004_fld_1_em" name="Email" value="">

        <script type="text/javascript">
            if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0004_fld_1_fn'); addRequiredField ('form_0004_fld_1_ln'); addRequiredField ('form_0004_fld_1_em'); } if (typeof(addFieldToValidate) != 'undefined') { addFieldToValidate ('form_0004_fld_1_em', 'EMAIL'); }
        </script>

        <div style="width:49%; float:left;">
            <label for="form_0004_fld_2_1">Company</label>
            <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
            <input type="text" class="formFieldText formFieldMediumLeft" id="form_0004_fld_2_1" name="Company" value="">
        </div>

        <div style="width:49%; float:right;">
            <label for = "form_0004_fld_2_2">Job Title</label>
            <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
            <input type="text" class="formFieldText formFieldMediumRight" id="form_0004_fld_2_2" name="Job Title" value="">
        </div>

        <script type="text/javascript">
            if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0004_fld_2_1'); addRequiredField ('form_0004_fld_2_2'); }
        </script>

        <label for = "form_0004_fld_3_2">URL to your project&#39;s logo or other graphic we can use on influxdb.com</label>
        <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
        <input type="text" class="formFieldText formFieldMediumRight" id="form_0004_fld_3_2" name="Logo URL" value="" >

        <div style="width:49%; float:left;">
            <label for = "form_0004_fld_3_1">Project website or GitHub URL.</label>
            <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
            <input type="text" class="formFieldText formFieldMediumLeft" id="form_0004_fld_3_1" name="Project URL" value="" >
        </div>

        <div style="width:49%; float:right;">
            <label for = "form_0004_fld_4">Provide a Twitter handle to whom we can give a shout out to.</label>
            <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
            <input type="text" class="formFieldText formFieldLarge" id="form_0004_fld_4" name="Twitter Handle" >
        </div>

        <script type="text/javascript">
            if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0004_fld_3_1'); addRequiredField ('form_0004_fld_3_2'); }
        </script>
        

        <script type="text/javascript">
            if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0004_fld_4'); }
        </script>

        <label>Tell us a little about your app, product or project and what it does...<b style="color: #FF0000; cursor: default" title="Required Field">*</b></label>
        <textarea class="formTextArea formTextAreaLarge formTextAreaWidthLarge" id="form_0004_fld_5" name="Description">
        </textarea>

        <script type="text/javascript">
            if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0004_fld_5'); }
        </script>

        <label>Let us know what the most compelling features of InfluxDB were for this project?<b style="color: #FF0000; cursor: default" title="Required Field">*</b></label>
        <textarea class="formTextArea formTextAreaLarge formTextAreaWidthLarge" id="form_0004_fld_6" name="Compelling Features">
        </textarea>

        <script type="text/javascript">
            if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0004_fld_6'); }
        </script>

        <label>Optional: Please provide us with a short quote we can use.</label>
        <textarea class="formTextArea formTextAreaLarge formTextAreaWidthLarge" id="form_0004_fld_7" name="Quote">
        </textarea>

        <label>Please provide your hoodie size</label>
        <div class="radio">
            <input style="display: none" type="radio" name="Hoodie Size" value="" checked>

            <label for="form_0004_fld_8-0" class="formFieldLabel radioFieldLabel">
                <input type="radio" name="Hoodie Size" id="form_0004_fld_8-0" value="Small"><span>Small</span>
            </label>

            <label for="form_0004_fld_8-1" class="formFieldLabel radioFieldLabel">
                <input type="radio" name="Hoodie Size" id="form_0004_fld_8-1" value="Medium"><span>Medium</span>
            </label>

            <label for="form_0004_fld_8-2" class="formFieldLabel radioFieldLabel">
                <input type="radio" name="Hoodie Size" id="form_0004_fld_8-2" value="Large"><span>Large</span>
            </label>

            <label for="form_0004_fld_8-3" class="formFieldLabel radioFieldLabel">
                <input type="radio" name="Hoodie Size" id="form_0004_fld_8-3" value="XLarge"><span>XLarge</span>
            </label>

            <label for="form_0004_fld_8-4" class="formFieldLabel radioFieldLabel">
                <input type="radio" name="Hoodie Size" id="form_0004_fld_8-4" value="XXLarge"><span>XXLarge</span>
            </label>
        </div>

        <input type="hidden" id="form_0004_fld_9" name="Lead Source" value="Tell Us About Your Project">

        <label for="form_0004_fld_10_Street">Street</label>
        <input type="text" class="formFieldText formFieldLarge" id="form_0004_fld_10_Street" name="Mailing Street" value="">
        
        <div style="width:49%; float:left;">
        <label>City</label>
        <input type="text" class="formFieldText formFieldMediumLeft" id="form_0004_fld_10_City" name="Mailing City" value="">
        </div>

        <div style="width:49%; float:right;">
        <label>State</label>
        <select class="formFieldMediumRight" name="Mailing State/Province" id="form_0004_fld_10_State" onclick="event.cancelBubble = true;">
        <option value="">Select State</option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="PR">Puerto Rico</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
        <option value="AB">Alberta</option>
        <option value="BC">British Columbia</option>
        <option value="MB">Manitoba</option>
        <option value="NB">New Brunswick</option>
        <option value="NL">Newfoundland and Labrador</option>
        <option value="NS">Nova Scotia</option>
        <option value="ON">Ontario</option>
        <option value="PE">Prince Edward Island</option>
        <option value="QC">Quebec</option>
        <option value="SK">Saskatchewan</option>
        <option value="INT">International/Other</option>
        </select>
        </div>

        <div style="width:49%; float:left;">
            <label>Postal Code</label>
            <input type="text" class="formFieldText formFieldMediumLeft" id="form_0004_fld_10_Zip" name="Mailing Zip/Postal Code" value="">
        </div>

        <div style="width:49%; float:right;">
        <label>Country</label>
        <select class="formFieldMediumRight" name="Mailing Country" id="form_0004_fld_10_Country" onclick="event.cancelBubble = true;">
        <option value="">
        Select Country</option>
        <option value="AF">
        Afghanistan</option>
        <option value="AL">
        Albania</option>
        <option value="DZ">
        Algeria</option>
        <option value="AS">
        American Samoa</option>
        <option value="AD">
        Andorra</option>
        <option value="AO">
        Angola</option>
        <option value="AI">
        Anguilla</option>
        <option value="AQ">
        Antarctica</option>
        <option value="AG">
        Antigua and Barbuda</option>
        <option value="AR">
        Argentina</option>
        <option value="AM">
        Armenia</option>
        <option value="AW">
        Aruba</option>
        <option value="AU">
        Australia</option>
        <option value="AT">
        Austria</option>
        <option value="AZ">
        Azerbaijan</option>
        <option value="BS">
        Bahamas</option>
        <option value="BH">
        Bahrain</option>
        <option value="BD">
        Bangladesh</option>
        <option value="BB">
        Barbados</option>
        <option value="BY">
        Belarus</option>
        <option value="BE">
        Belgium</option>
        <option value="BZ">
        Belize</option>
        <option value="BJ">
        Benin</option>
        <option value="BM">
        Bermuda</option>
        <option value="BT">
        Bhutan</option>
        <option value="BO">
        Bolivia</option>
        <option value="BQ">
        Bonaire</option>
        <option value="BA">
        Bosnia</option>
        <option value="BW">
        Botswana</option>
        <option value="BV">
        Bouvet Island</option>
        <option value="BR">
        Brazil</option>
        <option value="IO">
        British Indian Ocean Territory</option>
        <option value="BN">
        Brunei</option>
        <option value="BG">
        Bulgaria</option>
        <option value="BF">
        Burkina Faso</option>
        <option value="BI">
        Burundi</option>
        <option value="KH">
        Cambodia</option>
        <option value="CM">
        Cameroon</option>
        <option value="CA">
        Canada</option>
        <option value="CV">
        Cape Verde</option>
        <option value="KY">
        Cayman Islands</option>
        <option value="CF">
        Central African Republic</option>
        <option value="TD">
        Chad</option>
        <option value="CL">
        Chile</option>
        <option value="CN">
        China</option>
        <option value="CX">
        Christmas Island</option>
        <option value="CC">
        Cocos Islands</option>
        <option value="CO">
        Colombia</option>
        <option value="KM">
        Comoros</option>
        <option value="CG">
        Congo</option>
        <option value="CD">
        Congo, Dem. Rep.</option>
        <option value="CK">
        Cook Islands</option>
        <option value="CR">
        Costa Rica</option>
        <option value="HR">
        Croatia</option>
        <option value="CU">
        Cuba</option>
        <option value="CW">
        Curaçao</option>
        <option value="CY">
        Cyprus</option>
        <option value="CZ">
        Czech Republic</option>
        <option value="DK">
        Denmark</option>
        <option value="DJ">
        Djibouti</option>
        <option value="DM">
        Dominica</option>
        <option value="DO">
        Dominican Republic</option>
        <option value="EC">
        Ecuador</option>
        <option value="EG">
        Egypt</option>
        <option value="SV">
        El Salvador</option>
        <option value="GQ">
        Equatorial Guinea</option>
        <option value="ER">
        Eritrea</option>
        <option value="EE">
        Estonia</option>
        <option value="ET">
        Ethiopia</option>
        <option value="FK">
        Falkland Islands (Malvinas)</option>
        <option value="FO">
        Faroe Islands</option>
        <option value="FJ">
        Fiji</option>
        <option value="FI">
        Finland</option>
        <option value="FR">
        France</option>
        <option value="GF">
        French Guiana</option>
        <option value="PF">
        French Polynesia</option>
        <option value="TF">
        French Southern Territories</option>
        <option value="GA">
        Gabon</option>
        <option value="GM">
        Gambia</option>
        <option value="GE">
        Georgia</option>
        <option value="DE">
        Germany</option>
        <option value="GH">
        Ghana</option>
        <option value="GI">
        Gibraltar</option>
        <option value="GR">
        Greece</option>
        <option value="GL">
        Greenland</option>
        <option value="GD">
        Grenada</option>
        <option value="GP">
        Guadeloupe</option>
        <option value="GU">
        Guam</option>
        <option value="GT">
        Guatemala</option>
        <option value="GG">
        Guernsey</option>
        <option value="GN">
        Guinea</option>
        <option value="GW">
        Guinea-Bissau</option>
        <option value="GY">
        Guyana</option>
        <option value="HT">
        Haiti</option>
        <option value="HM">
        Heard Island</option>
        <option value="HN">
        Honduras</option>
        <option value="HK">
        Hong Kong</option>
        <option value="HU">
        Hungary</option>
        <option value="IS">
        Iceland</option>
        <option value="IN">
        India</option>
        <option value="ID">
        Indonesia</option>
        <option value="IR">
        Iran</option>
        <option value="IQ">
        Iraq</option>
        <option value="IE">
        Ireland</option>
        <option value="IM">
        Isle of Man</option>
        <option value="IL">
        Israel</option>
        <option value="IT">
        Italy</option>
        <option value="CI">
        Ivory Coast</option>
        <option value="JM">
        Jamaica</option>
        <option value="JP">
        Japan</option>
        <option value="JE">
        Jersey</option>
        <option value="JO">
        Jordan</option>
        <option value="KZ">
        Kazakhstan</option>
        <option value="KE">
        Kenya</option>
        <option value="KI">
        Kiribati</option>
        <option value="KR">
        Korea</option>
        <option value="KP">
        Korea, DPRK</option>
        <option value="XK">
        Kosovo</option>
        <option value="KW">
        Kuwait</option>
        <option value="KG">
        Kyrgyzstan</option>
        <option value="LA">
        Laos</option>
        <option value="LV">
        Latvia</option>
        <option value="LB">
        Lebanon</option>
        <option value="LS">
        Lesotho</option>
        <option value="LR">
        Liberia</option>
        <option value="LY">
        Libya</option>
        <option value="LI">
        Liechtenstein</option>
        <option value="LT">
        Lithuania</option>
        <option value="LU">
        Luxembourg</option>
        <option value="MO">
        Macao</option>
        <option value="MK">
        Macedonia</option>
        <option value="MG">
        Madagascar</option>
        <option value="MW">
        Malawi</option>
        <option value="MY">
        Malaysia</option>
        <option value="MV">
        Maldives</option>
        <option value="ML">
        Mali</option>
        <option value="MT">
        Malta</option>
        <option value="MH">
        Marshall Islands</option>
        <option value="MQ">
        Martinique</option>
        <option value="MR">
        Mauritania</option>
        <option value="MU">
        Mauritius</option>
        <option value="YT">
        Mayotte</option>
        <option value="MX">
        Mexico</option>
        <option value="FM">
        Micronesia, Fed.</option>
        <option value="MD">
        Moldova</option>
        <option value="MC">
        Monaco</option>
        <option value="MN">
        Mongolia</option>
        <option value="ME">
        Montenegro</option>
        <option value="MS">
        Montserrat</option>
        <option value="MA">
        Morocco</option>
        <option value="MZ">
        Mozambique</option>
        <option value="MM">
        Myanmar</option>
        <option value="NA">
        Namibia</option>
        <option value="NR">
        Nauru</option>
        <option value="NP">
        Nepal</option>
        <option value="NL">
        Netherlands</option>
        <option value="NC">
        New Caledonia</option>
        <option value="NZ">
        New Zealand</option>
        <option value="NI">
        Nicaragua</option>
        <option value="NE">
        Niger</option>
        <option value="NG">
        Nigeria</option>
        <option value="NU">
        Niue</option>
        <option value="NF">
        Norfolk Island</option>
        <option value="MP">
        Northern Marianas</option>
        <option value="NO">
        Norway</option>
        <option value="OM">
        Oman</option>
        <option value="PK">
        Pakistan</option>
        <option value="PW">
        Palau</option>
        <option value="PS">
        Palestinian Terr.</option>
        <option value="PA">
        Panama</option>
        <option value="PG">
        Papua New Guinea</option>
        <option value="PY">
        Paraguay</option>
        <option value="PE">
        Peru</option>
        <option value="PH">
        Philippines</option>
        <option value="PN">
        Pitcairn</option>
        <option value="PL">
        Poland</option>
        <option value="PT">
        Portugal</option>
        <option value="PR">
        Puerto Rico</option>
        <option value="QA">
        Qatar</option>
        <option value="RO">
        Romania</option>
        <option value="RU">
        Russia</option>
        <option value="RW">
        Rwanda</option>
        <option value="RE">
        Réunion</option>
        <option value="BL">
        Saint Barthélemy</option>
        <option value="SH">
        Saint Helena</option>
        <option value="KN">
        Saint Kitts and Nevis</option>
        <option value="LC">
        Saint Lucia</option>
        <option value="MF">
        Saint Martin (French)</option>
        <option value="PM">
        Saint Pierre and Miquelon</option>
        <option value="VC">
        Saint Vincent</option>
        <option value="WS">
        Samoa</option>
        <option value="SM">
        San Marino</option>
        <option value="ST">
        Sao Tome & Principe</option>
        <option value="SA">
        Saudi Arabia</option>
        <option value="SN">
        Senegal</option>
        <option value="RS">
        Serbia</option>
        <option value="SC">
        Seychelles</option>
        <option value="SL">
        Sierra Leone</option>
        <option value="SG">
        Singapore</option>
        <option value="SX">
        Sint Maarten (Dutch)</option>
        <option value="SK">
        Slovakia</option>
        <option value="SI">
        Slovenia</option>
        <option value="SB">
        Solomon Islands</option>
        <option value="SO">
        Somalia</option>
        <option value="ZA">
        South Africa</option>
        <option value="GS">
        South Georgia and the South Sandwich Islands</option>
        <option value="SS">
        South Sudan</option>
        <option value="ES">
        Spain</option>
        <option value="LK">
        Sri Lanka</option>
        <option value="SD">
        Sudan</option>
        <option value="SR">
        Suriname</option>
        <option value="SJ">
        Svalbard</option>
        <option value="SZ">
        Swaziland</option>
        <option value="SE">
        Sweden</option>
        <option value="CH">
        Switzerland</option>
        <option value="SY">
        Syria</option>
        <option value="TW">
        Taiwan</option>
        <option value="TJ">
        Tajikistan</option>
        <option value="TZ">
        Tanzania</option>
        <option value="TH">
        Thailand</option>
        <option value="TL">
        Timor-Leste</option>
        <option value="TG">
        Togo</option>
        <option value="TK">
        Tokelau</option>
        <option value="TO">
        Tonga</option>
        <option value="TT">
        Trinidad and Tobago</option>
        <option value="TN">
        Tunisia</option>
        <option value="TR">
        Turkey</option>
        <option value="TM">
        Turkmenistan</option>
        <option value="TC">
        Turks and Caicos</option>
        <option value="TV">
        Tuvalu</option>
        <option value="AE">
        U.A.E.</option>
        <option value="UG">
        Uganda</option>
        <option value="UA">
        Ukraine</option>
        <option value="GB">
        United Kingdom</option>
        <option value="US">
        United States</option>
        <option value="UM">
        United States Minor Outlying Islands</option>
        <option value="UY">
        Uruguay</option>
        <option value="UZ">
        Uzbekistan</option>
        <option value="VU">
        Vanuatu</option>
        <option value="VA">
        Vatican City</option>
        <option value="VE">
        Venezuela</option>
        <option value="VN">
        Viet Nam</option>
        <option value="VG">
        Virgin Islands, British</option>
        <option value="VI">
        Virgin Islands, U.S.</option>
        <option value="WF">
        Wallis and Futuna</option>
        <option value="EH">
        Western Sahara</option>
        <option value="YE">
        Yemen</option>
        <option value="ZM">
        Zambia</option>
        <option value="ZW">
        Zimbabwe</option>
        <option value="AX">
        Åland Islands</option>
        </select>
        </div>

        <input id="form_0004_ao_submit_button" class="submit" type="button" name="Submit" value="Submit" onClick="doSubmit(document.getElementById('form_0004'))">

        <input type="hidden" id="ao_form_neg_cap" name="ao_form_neg_cap" value="">

        <img src='https://marketing.influxdb.com/acton/form/16929/0004:d-0001/pgend.gif' width='1' height='1'>
        </form>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-45024174-1', 'auto'); ga('send', 'pageview'); </script>
    </article>
</div>

{{ partial "nav.html" . }}
{{ partial "footer.html" . }}
